@keyframes fade {
  0% {
    transform: translateX(400px);
    visibility: visible;
  }
  25%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(0px);
  }
  75%{
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(400px);
    visibility: hidden;
  }
}

.reward-wrapper{
  animation: fade 4s ease forwards;
  width: auto;
  position: fixed;
  right: 10px;
  top: 10px;
  background: #00d32e;
  box-shadow: 0px 3px #007e1b;
  border-radius: 10px;
  padding: 10px;
  z-index: 1010;
  display: flex;
  align-items: center;

  img{
    width: 20px;
    height: 20px;
  }

  h3{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }
}