.more-info{
  margin-top: 15px;
  width: 30vw;
  
  height: 100vh;
  overflow: hidden;
  

  .more-info__content{
    width: 100%;
    height: auto;
    border: 2px solid #37464f;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    
    h2{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .more-info__inner{
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .more-info__icon{
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      .more-info__text{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .more-info__button{
      width: 100%;
      padding: 10px;
      color: #fff;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 700;
      box-shadow: 0px 8px #007e1b;
      background-color: #00d32e;
      margin-bottom: 5px;
      transition: all .1s ease-in-out;
    
      &:active{
        transform: translate(0px, 8px);
        box-shadow: 0px 0px #00d32e;
      }
    }
  }

  .tasks-days__list{
    width: 100%;

    .tasks-days__item{
      width: 100%;
      display: flex;
      align-items: center;

      &.tasks-days__item-done{
        opacity: 0.4;

        .tasks-days__item-content{
          display: none;
        }
      }

      &:not(:last-child){
        margin-bottom: 50px;
      }
      
      img{
        width: 40px;
        height: 40px;
        margin-right: 25px;
      }

      .tasks-days__item-content{
        width: 100%;

        .tasks-days__text{
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 10px;
          line-height: 20px;
        }

        .tasks-days__progress-bar__wrapper{
          width: 100%;
          background: #37464f;
          height: 18px;
          border-radius: 100px;
          position: relative;

          .tasks-days__progress-bar{
            position: absolute;
            left: 0px;
            top: 0px;
            height: 18px;
            width: 40%;
            border-radius: 100px;
            background: yellow;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px){
    width: 30vw;
  }

  @media screen and (max-width: 700px){
    width: 25vw;
    .find-friends{
      h2{
        font-size: 12px;
      }
    }
  }
}