.edit-pofile__wrapper{
  width: 85vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  padding: 10px 10px 10px 30px;

  h1{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
  }

  h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .select-photo__block{
    margin-bottom: 15px;
    display: inline-block;

    .photo-list{
      display: flex;
      padding: 15px;
      border: 2px solid #37464f;
      border-radius: 15px;

      .photo-item{
        font-size: 0px;
        width: 100px;
        height: 100px;
        background: #6183c4;
        border-radius: 100px;
        margin-right: 10px;
        cursor: pointer;
        transition: all .1s ease;
        overflow: hidden;
        position: relative;
        box-shadow: 0px 4px #355792;
        transition: all .1s ease-in-out;

        img{
          position: absolute;
          left: 10px;
          bottom: 0px;
          width: 80px;
          height: 80px;
        }

        &:active{
          box-shadow: 0px 0px #2f4469;
          transform:translate(0, 4px);
        }
      }
    }
  }

  .edit-name{
    input{
      background: #37464f;
      border-radius: 10px;
      padding: 10px 10px 10px 5px;
      color: #fff;
      width: 30%;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
      border: 1px solid transparent;
      transition: all .1s ease;
      
      &:focus{
        border: 1px solid rgb(255, 255, 255);
      }
    }

    &::placeholder{
      color: #fff;
    }
  }

  .save-changes__button{
    background: rgb(86, 248, 86);
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    transition: all .1s ease;
    box-shadow: 0px 4px rgb(18, 75, 18);
    transition: all .1s ease-in-out;

    &:hover{
      background: rgb(40, 138, 40);
      color: #fff;
    }

    &:disabled{
      background: rgb(59, 167, 59);
    }

    &:active{
      box-shadow: 0px 0px rgb(40, 138, 40);
      transform:translate(0, 4px);
    }
  }

  .delete-progress__button{
    position: absolute;
     right: 25px;
     top: 15px;
     background: rgba(255, 0, 0, 0.459);
     color: #fff;
     padding: 10px 15px;
     border-radius: 100px;
     font-weight: 700;
     font-size: 0.7rem;
     border: 2px solid transparent;
     box-shadow: 0px 4px #470128;
     transition: all .1s ease-in-out;
   
     &:active{
       box-shadow: 0px 0px #460428;
       transform:translate(0, 4px);
     }
  }
}